# API Keys
GEMINI_API_KEY=

# WhatsApp Business API Configuration
# Token de acceso (permanente o temporal) de WhatsApp Cloud API
WHATSAPP_TOKEN=
# El ID del número de teléfono en Meta for Developers
WHATSAPP_PHONE_NUMBER_ID=
# El token de verificación para configurar el Webhook
WHATSAPP_VERIFY_TOKEN=

# SMTP Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion
